body {
  background-color: #000000;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

#landing-header {
  color: #FDD40A;
  text-align: center;
  width: 100%;
}